@charset "UTF-8";
/* couleur contraste : rgb(238,144,9) */


:root{
    --largeurPage: 1500px;
    --largeurMenuCont : 200px;
    --margeCalc: calc((100% - var(--largeurPage)) / 2);
    --margeMenuHaut : 15px;
    --hauteurMenuGene:60px;
    --coulA1:#5A7694;
    --coulA2:#D7E5ED;
    --coulB1:#566459;
    --coulB2:#90974A;
    --coulC:#CDBCA0;
    --fondC:#fcfbfb;
    --padding_cote:5px;
}


:target:before {
    content:"";
    display:block;
    background-color:rgb(255,255,255);
    height:calc(var(--hauteurMenuGene) + var(--margeMenuHaut)); /* fixed header height*/
    margin:calc((var(--hauteurMenuGene) + var(--margeMenuHaut)) * -1) 0 0; /* negative fixed header height */
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#logo {
    text-align : center;
}

#corps {
    flex: 1;
}   

span.site {
    color : var(--coulA1);
    font-weight: bold;
}

nav {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:var(--hauteurMenuGene);
    z-index:100;
}

#menuGeneral {body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    text-align : center;
    width : 100%;
    height : var(--hauteurMenuGene);
    background-color : rgba(45, 45, 45);
    color : #fff;
    margin:auto auto;
    box-shadow: 0px 0px 6px #999;

}
#menuGeneral{
    list-style-type: none;
    padding-left : 0px;
}

#menuGeneral>li{
    float : left;
    width: 10%;
    height : 100%;
    vertical-align: middle;
    line-height:60px;
}

#menuGeneral>li:hover{
    background-color : rgba(255,255,255,0.1);
}

#logo>a>img{
    position : relative;
    top : -20px;
}

#menuGeneral>li>a{
    height : var(--hauteurMenuGene);
    display : inline-block;
    vertical-align: middle;
    color:#eee;
    text-shadow: 1px 1px 2px #000;
    text-decoration: none;
    font-size : 16px;
    font-weight: bold;
}

#menuGeneral>li>a>img{
    vertical-align: middle;
}

#alerte{
    background-color: #FC2500;
}

#footer {
    background-color: rgba(22, 22, 22);
    color: #fff;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 6px #999;
    margin-top: auto;
}