#tagFood{
	display:inline-block;
	padding-left : 0px;
	font-style: italic;
        margin : 0px;
}

li.tag{
	display:inline-block;
	border:1px solid rgba(0,0,0,0.05);
	background-color:rgba(0,0,0,0.05);
	padding:2px;
	margin:2px;
	border-radius: 2px;
}

li.tag:hover{
	border-width:1px;
	border-style : solid;
	border-color : #bbb;
	background-color:rgba(0,0,0,0.1);	
    border-radius: 18px;
}

span.tag{
	color:rgb(255,50,50);
	
}

div.card{
    position : relative;
    width:180px;
    height : 250px;
    float:left;
    padding:10px;
    margin : 10px;
    background-color : var(--fondC);
    box-shadow: 1px 1px 4px #bbb;
}
div.photoCard>img{
    
    position : relative;
    top:-10px;
    left : -10px;
    max-width : 200px;
    max-height: 140px;
    
}

div.descrCard{
    position : relative;
    top:0px;
}
div.tagCard{
    position:absolute;
    bottom:10px;
    width : 180px;
    text-align: right;
}

#galerie{
	margin-top : 0px;
	margin-bottom : 20px;
	padding-left : 0px;
	background-color : rgb(250,250,250);
}

#galerie li{
	display : inline-block;
}


img.galerie{
	border:1px solid rgb(239,239,239);
}

#note {
    float : right;
    
}

#corps>a:link, #corps>a:visited {
    background-color: #ffffff;
    color: #524c4c;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#corps>a:hover, #corps>a:active {
    background-color: #524c4c;
    color: #ffffff;
}

table.bordertable {
    width: 100%;
}

table.bordertable, table.bordertable th, table.bordertable td {
    padding: 15px;
}

table.bordertable th {
    text-align: left;
    background-color: rgba(45,45,45,0.9);
    color: #eeeeee;
}

table.bordertable tr:nth-child(even)
{
    background-color: #e2e2e2;
}
h1{
    text-align: center
}

button{
    text-align: center
}
body{
    display: flex;
}

.connexion{
    text-align: center;
    justify-content: center;
}

.formNewGame {
    display: none;
}
.container {
    margin: 0 auto;
    max-width: 800px; /* Ajustez la largeur selon vos besoins */
}

.tarifs {
    margin-top: auto;
    width: 50%; /* Ajustez la largeur selon vos besoins */
}
